body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

.about-me,
.projects,
.contact {
    padding: 40px 0;
}

.projects img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #333;
    color: white;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}